

@media (min-width:576px) and (max-width:767px) {
    
      div.menu{
    width: 98%;
    height: 70px;
    display: flex;
    position:sticky;
    top:0;
    z-index: 200;
    background-color:rgb(46, 202, 127);
    



>input{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left:20px;
    display: none;
    z-index: 100;
}

label> span > img{
    width: 40px;
    height: 40px;
   filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(103%) contrast(103%);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 200;
    cursor: pointer;

}


}

div.menu > div.logo{
    width: 200px;
    height: 70px;
    color: white;

    >h1{
   position: absolute;
   top: 15px;
   right: 20px;
   font-size: 27px;
}
}

div.menu > input[type="checkbox"]:checked ~ div.navbar{
height: 500px;
display: flex;
}



div.menu > div.navbar{
 width: 350px;   
display: none;
justify-content: center;
align-items: center;
background-color:rgb(46, 202, 127) ;
position: absolute;
top: 50px;
left: 0;


 
>nav>ul{
 display:flex;
flex-direction: column;
    gap: 50px;
  
  
    >a{
        list-style: none;
        text-decoration: none;
        font-size:16px;
        color: rgb(189, 189, 189); 

    }   
}

}


#a1{
    width: 50px;
    color: white;
    border-bottom:2px solid  white ;
}

div.navbar > nav >ul > a >li:hover{
    width: 50px;
    color: white;
    border-bottom:  2px solid white; 
}

#a2{
    width: 70px;
}


div.service-container{
    width: 90%;
    height: 1500px;
    background-color:rgb(240, 240, 240);
    margin: 50px auto;
   border-top-left-radius: 30px;
    border-top-right-radius: 30px;
     border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

div.service-container > div.pst{
    width: 100%;
    height:150px;
    background-color: rgb(46, 202, 127) ;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    padding-top: 30px;

    >h1{
        font-size:50px;
        color: white;
    }
}

div.service-container > div.psb{
width:100%;
height: 1400px;
padding: 20px;
  border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}


div.psb > div.service-title{
    width: 60%;
    height: 100px;
  padding: 30px 50px;

  >h2 >span {
    color: rgb(46, 202, 127) ;
  }
}

div.psb > div.my-service-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}


 div.my-service-container > div.my-service1{
    width: 110px;
    height: 330px;
    padding-right:10px;
   

    >div.img1{
        width: 80px;
        height: 80px;
        background-color: rgb(245, 245, 245);
        border-radius: 75px;
        margin: 10px 10px;
     
   
        
        >img{
            width: 40px;
            height:40px;
            margin: 20px 20px;
         
 
        }
    }

    >h2{
        font-size:14px ;
          color: rgb(37, 37, 37);
    }

    >p{
        font-size: 10px;
        margin-top: 15px;
        
    }
 }

 div.my-service1 > div.img1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 }


div.my-service-container > div.my-service2{
      width: 110px;
    height: 330px;
    padding-right: 10px;

    >div.img2{
        width: 80px;
        height: 80px;
        background-color: rgb(245, 245, 245);
        border-radius: 75px;
        margin: 10px 10px;
        
        >img{
            width: 40px;
            height:40px;
            margin: 20px 20px;
        }
    }

    >h2{
        font-size:10px ;
          color: rgb(37, 37, 37);
          margin-top: 10px;
    }

    >p{
        font-size: 10px;
        margin-top:15px;
        
    }
 }

  div.my-service2 > div.img2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 }


div.my-service-container > div.my-service3{
       width: 110px;
    height: 330px;
    padding-right: 10px;


        >img{
            width: 80px;
            height:80px;
           margin-top: 10px;  
           margin-right: 10px;
           border-radius: 60px;
        }
    

    >h2{
        font-size:9px ;
          color: rgb(37, 37, 37);
    }

    >p{
        font-size: 10px;
        margin-top: 15px;
        
    }
 }

  div.my-service3 > img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 }



div.my-service-container > div.my-service4{
    width: 110px;
    height: 330px;
    padding-right: 10px;

    >div.img4{
        width: 80px;
        height: 80px;
        background-color: rgb(245, 245, 245);
        border-radius: 75px;
        margin: 10px 10px;
        
        >img{
            width:40px;
            height:40px;
            margin: 20px 20px;
        }
    }

    >h2{
        font-size:14px ;
          color: rgb(37, 37, 37);
    }

    >p{
        font-size: 10px;
        margin-top: 15px;
        
    }
 }

 div.my-service4 > div.img4:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 }


div.psb > div.customer{
width: 100%;
height: 300px;
margin-top: 20px;
padding: 30px 30px ;



}


  .swiper {
      width: 90%;
      height: 70px;
      margin-top: 40px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
    background-color:rgb(240, 240, 240);
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }



div.psb > div.customer-opinion-container{
    width: 100%;
    height: 400px;
    padding: 30px 30px;
}


div.customer-opinion-container > div.customer-opinion{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}

div.customer-opinion > div.customer-opinion-right{
    width: 450px;
    height: 170px;
    border: 1px solid gray;
    border-top: 3px solid  rgb(46, 202, 127)  ;
    position: relative;
    padding: 0 5px;

    >img{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid gray;
        background-color: rgb(197, 197, 197);
        position: absolute;
        top: -40px;
        right:60px;
    }

    >h4{
        position: absolute;
        top: -30px;
        right: 130px;
        font-size: 11px;
    }

    >p{
        font-size: 10px;
        margin-top: 50px;
        text-align: justify;
    }

}

div.customer-opinion > div.customer-opinion-left{
    width: 450px;
    height: 170px;
    border: 1px solid gray;
    border-top: 3px solid  rgb(46, 202, 127)  ;
       position: relative;
    padding: 0 5px;

>img{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid gray;
        background-color: rgb(197, 197, 197);
        position: absolute;
        top: -40px;
        right:50px;
}

    >h4{
        font-size: 9px;
        position: absolute;
        top: -20px;
        right: 115px;
    }

    >p{
        font-size: 10px;
        margin-top: 50px;
        text-align: justify;
    }

}


}